:root {
  --primary-text: #444;
  --ligh-background: #f2f2f2;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--ligh-background);
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.nav-link:hover {
  cursor: pointer;
}

.navbar > .container-fluid,
.main-container {
  width: min(90%, 1600px) !important;
}

.main-container {
  margin-bottom: 20px;
}

.css-xrjn1 {
  display: none !important;
}

.card-max-height {
  height: calc(100vh - 120px);
}

.grid-3 {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

label {
  text-transform: capitalize;
  margin-bottom: 0px !important;
}

.table-row-no-padding > td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-row {
  margin-bottom: 10px;
}

div[data-testid="date-navigator"],
div[data-testid="view-navigator"] {
  display: none !important;
}

.rezervd-event {
  background-image: linear-gradient(to bottom, #4b79a1, #283e51);
  padding: 5px;
  height: 100%;
}

.calendar-wrapper .rs__hover__op {
  display: none;
}

.time-input > * {
  width: 100%;
}

.legend-item > div {
  display: flex;
  align-items: center;
}

.courts-container .css-46bh2p-MuiCardContent-root:last-child {
  padding: 16px !important;
}

@media only screen and (max-width: 600px) {
  .navbar > .container-fluid,
  .main-container {
    width: 100% !important;
  }

  .grid-3 {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }
}
