:root {
    --primary-text: #444;
    --ligh-background: #f2f2f2;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root {
    width: 100vw;
    height: 100vh;
    background-color: var(--ligh-background);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    margin-bottom: 10px !important;
}

.nav-link:hover {
    cursor: pointer;
}